In [ ]:
# Data Science Tools and Ecosystem

In [ ]:
# Introduction

In this notebook, Data Science Tools and Ecosystem are summarized.

In [ ]:
 **Objectives**

- List popular languages for Data Science
- Summarize commonly used libraries in Data Science
- Describe development environment tools for Data Science
- Evaluate arithmetic expressions in Python
- Convert minutes to hours in Python

In [ ]:
# Data Science Languages

Some of the popular languages that Data Scientists use are:
1. Python
2. R 
3. SQL
4. Java

In [ ]:
# Data Science Libraries

Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. Pandas
3. Matplotlib
4. Scikit-learn

In [ ]:
# Table

| Data Science Tools |
|--------------------|
| Jupyter Notebook |
| R Studio  |
| Spyder   |

In [ ]:
# Arithmetic Expressions

### Below are a few examples of evaluating arithmetic expressions in Python.

In [17]:
# This a simple arithmetic expression to mutiply then add integers

value = (3*4)+5

value # This will return output

17

In [18]:
# This will convert 200 minutes to hours by diving by 60

minutes = 200

hours = minutes / 60

hours # This will return output

3.3333333333333335

In [ ]:
## Author

Tirumalesh Babu Ravutla